<footer>
  <div class="d-flex flex-column">
    <div class="footer top container-fluid">
      <div style="width: 70%" class="row">
        <div style="padding-right: 1rem" class="col-lg-2">
          <img
            src="/img/footer-logo.png"
            style="width: 124px; height: 21px"
            alt="elyt logo"
          />
          <br />
          <br />
          <small class="footer-text"> {{site.footer_text}} </small>
        </div>
        {% for column in site.footer_links %}
        <div class="col-lg-2">
          <h4 style="color: white">{{column.title}}</h4>
          <ul class="footer-links-list">
            {% for item in column.content %}
            <li>
              <small class="footer-text link"
                ><a href="{{item.link}}">{{item.text}}</a></small
              >
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="footer bottom container-fluid">
      <div style="margin: 0 auto !important; width: 60%" class="row">
        <div class="col">
          <small class="footer-dark-text"> {{site.footer_elyt_inc}} </small>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
          <small class="footer-dark-text">
            <a href="{{site.footer_privacy_terms_link}}"
              >{{site.footer_privacy_terms}}</a
            >
          </small>
        </div>
      </div>
    </div>
  </div>
</footer>
