$elyt-blue: #ecf1f9;
$elyt-purple: #a76acf;
$elyt-grey-bg: #dadada;
$elyt-dark-purple: purple;
$elyt-footer-top-bg: #3a2969;
$elyt-footer-bottom-bg: #2d224d;
$elyt-footer: #a9b1e4;
$elyt-footer-dark: #545b98;
$elyt-placeholder-dark: #5e479d;
$elyt-cd-card: #999999;
$elyt-close-btn: #f2f2f2;
$elyt-link: #3c86f5;
$elyt-facebook: #ddebff;
$elyt-twitch: #e4dfea;
$elyt-metamask: #faeadc;
$elyt-grey-text: #a6a6a6;
$elyt-light-grey: #cccccc;
$elyt-dark-grey: #b5b5b5;
$elyt-dark-blue: #005fed;
$elyt-red: #ff3c30;
$elyt-active-link: #bb52b0;
$elyt-cdc-item: #7a7a7a;
$elyt-green: #9cd1a1;
$elyt-title: #a3a3a3;
$elyt-alt-black: #595959;
$elyt-cd-table-btn: #e5e5e5;
$elyt-cd-property: #6b6b6b;
$elyt-cd-table-btn-text: #767676;
$elyt-light-text-alt: #aaaaaa;
$elyt-modal-title: #54595e;
$elyt-green: #5cb17e;
$elyt-red: #ff3c30;
$elyt-error: #f46363;
$elyt-success: #2ed477;
$elyt-warning: #ff9138;
$elyt-alt-grey: #bababa;
$elyt-alt-red: #ea3a3a;
$elyt-deck-by: #5f5f5f;
$elyt-username: #aeaeae;
$elyt-status: #c8c8c8;
$elyt-border-bg: #a0a0a0;

//table
$elyt-grey-darker: #acacac;
$elyt-medium-black: #4f4f4f;
$elyt-row: #e5e5e5;
