@import "_variables";
@import "_mixins";

.footer {
  color: white;
  padding: 1.5rem 0;
  display: flex !important;
  justify-content: center !important;
  font-size: 14px !important;
}

.footer.bottom {
  background-color: $elyt-footer-bottom-bg;
}

.footer.top {
  background-color: $elyt-footer-top-bg;
}

.footer-text {
  color: $elyt-footer;

  a {
    text-decoration: none;
    color: $elyt-footer;
  }
}

.footer-dark-text {
  color: $elyt-footer-dark;
  a {
    text-decoration: none;
    color: $elyt-footer-dark;
  }
}

.footer-email-btn {
  display: inline;
}

.footer-email-btn {
  float: right;
}

.footer-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  color: $elyt-footer !important;
  @include t {
    text-align: center;
    max-width: 800px;
  }
}

.footer-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: white !important;
}

.footer-links-list {
  list-style-type: none;
  padding-left: 0;
}

.footer-email-input {
  width: 75% !important;
  display: inline !important;
  background-color: transparent !important;
  color: $elyt-placeholder-dark !important;
  border-color: $elyt-placeholder-dark !important;
}

.footer-send-btn {
  float: right !important;
  width: 25% !important;
  background-color: $elyt-purple !important;
  border-color: $elyt-purple !important;
}

.footer-text.link:hover {
  color: $elyt-purple;
}

.icon-white {
  color: white !important;
}
