<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="referrer" content="always">
    <link rel="canonical" href="home.html">
    <meta name="description" content="">
    <title>Elyt</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="apple-touch-icon" sizes="57x57" href="../img/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../img/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../img/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../img/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../img/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../img/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../img/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/icons/favicon-16x16.png">
    <link rel="manifest" href="../manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../img/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="">
<header>
    <div class="topbar">
        <div class="header header3">
            <div class="po-relative">
                <div class="h3-navbar">
                    <div class="container">
                        <nav class="navbar navbar-expand-xxl h3-nav">
                            <a class="navbar-brand" href="#">
                                <img src="../img/logo.png" alt="logo">
                            </a>
                            <a href="#" class="brs-navbar-toggler" id="brsMobileMenu-btn"
                               aria-label="Toggle navigation">
                                <i class="fa fa-bars"></i>
                            </a>
                            <div class="menu navbar-collapse" id="header3">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link go" inpage href="#features">FEATURES</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link go" inpage href="#roadmap">ROADMAP
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link go" inpage href="#tokenomics">TOKENOMICS</a>
                                    </li>
                                </ul>
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link go" inpage href="#team">JOIN US</a>
                                    </li>
                                    <li class="nav-item no-mobile join-telegram">
                                        <a class="nav-link" href="https://t.me/Elyt_Social" target="_blank">Join
                                            Telegram Channel</a>
                                    </li>
                                    <!--
                                    <li class="nav-item no-mobile">
                                        <a class="nav-link lang-select" href="#">TR</a>
                                    </li>
                                    -->
                                </ul>
                            </div>
                            <div class="mobile-right-menu">
                                <ul>
                                    <li><a href=""><i class="fab fa-telegram"></i></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="hero">
    <div id="home" class="home">
        <div class="text-vcenter">
            <h1>The New Generation of Earning</h1>
            <h1>and Marketing Tool Based on NFTs</h1>
            <h1>Build on Avalanche</h1>
            <div class="mobile-h1">
                <h1>The New Generation</h1>
                <h1>of Earning and</h1>
                <h1>Marketing Tool Based</h1>
                <h1>on NFTs Build on</h1>
                <h1>Avalanche</h1>
            </div>
            <div class="logo-with-shadow">
                <img src="../img/3d.png">
            </div>
            <div class="mask">
                <img src="../img/mask.png">
            </div>
        </div>
    </div>
</section>
<section class="info-section" id="features">
    <div class="container">
        <div class="swiper" id="swiper">
            <div class="row swiper-row swiper-wrapper" id="swiper">
                <div class="col swiper-slide">
                    <img src="../img/icon01.svg">
                    <p class="title">Create A Profile</p>
                    <p class="desc">Connect with your Social Media or Metamask Accounts to the ELYT Platform to enter
                        into the new generation of NFT Platform.</p>
                </div>
                <div class="col swiper-slide">
                    <img src="../img/icon02.svg">
                    <p class="title">Support Influencers</p>
                    <p class="desc">Support your favorite influencer or ELYT Platform by buying NFT Packs. Don’t forget
                        there are many other ways to earn NFTs.</p>
                </div>
                <div class="col swiper-slide">
                    <img src="../img/icon03.svg">
                    <p class="title">Collect NFTs</p>
                    <p class="desc">Open your NFT Packs. Collect many different unique NFT Cards. This is the easiest
                        way to complete your NFT collections.</p>
                </div>
                <div class="col swiper-slide">
                    <img src="../img/icon04.svg">
                    <p class="title">Redeem for Gifts</p>
                    <p class="desc">Redeem your NFT collections to get awesome rewards and gifts. There are many options
                        from digital to physical products.</p>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<section class="nft">
    <div class="nft-background">
        <div class="top-mask">
            <img src="../img/nft-top.png">
        </div>
        <div class="shapes">
            <img src="../img/nft-shapes.png">
        </div>
        <div class="bottom-mask">
            <img src="../img/nft-bottom.png">
        </div>
    </div>
</section>
<section class="nft-ecosystem">
    <div class="ecosystem-container container">
        <div class="title-section">
            <h1>We Solve the Biggest Problems on NFT Ecosystem</h1>
        </div>
        <div class="ecosystem-row">
            <div class="ecosystem-content row">
                <div class="col-6 ecosystem-image">
                    <img src="../img/user-box-1.png">
                </div>
                <div class="col-6 ecosystem-info">
                    <p class="info">Feature</p>
                    <p class="title">Floor Price will be never a problem again!</p>
                    <p class="description">ELYT has developed a real business value for NFTs. You can redeem your NFTs
                        for gifts offered on ELYT. The redeemed NFTs are burned so their volume continuously decreases,
                        increasing their value and rarity.</p>
                </div>
            </div>
            <div class="ecosystem-content row">
                <div class="col-6 ecosystem-info">
                    <p class="info">Feature</p>
                    <p class="title">Enter in to the NFT World without a Crypto Wallet</p>
                    <p class="description">Millions of individuals are unfamiliar with the blockchain environment but
                        are interested in learning more about NFT and Metaverse. ELYT enables these people to own NFT,
                        produce value, and participate in the ecosystem in the manner in which they are accustomed.</p>
                </div>
                <div class="col-6 ecosystem-image">
                    <img src="../img/user-box.png">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="roadmap" id="roadmap">
    <div class="top-mask">
        <img src="../img/roadmap-top-mask.png">
    </div>
    <div class="roadmap-container container">
        <div class="title-section">
            <h1>Roadmap</h1>
        </div>
        <div class="content-section">
            <div class="content-container">
                <div class="row">
                    <div class="col-6 image-section">
                        <img src="../img/q3.png">
                        <p class="title mobile-title">
                            2021
                        </p>
                    </div>
                    <div class="col-6 info-section">
                        <p class="title">
                            2021
                        </p>
                        <ul>
                            <li>Concept Design</li>
                            <li>Market Research</li>
                            <li>Financial Modelling</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 info-section">
                        <p class="title">
                            2021
                        </p>
                        <ul>
                            <li>Platform Architecture</li>
                            <li>Technical Development</li>
                            <li>Partnerships & Collaborations</li>
                        </ul>
                    </div>
                    <div class="col-6 image-section">
                        <p class="title mobile-title">
                            2021
                        </p>
                        <img src="../img/q4.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 image-section">
                        <img src="../img/q1.png">
                        <p class="title mobile-title">
                            2022
                        </p>
                    </div>
                    <div class="col-6 info-section">
                        <p class="title">
                            2022
                        </p>
                        <ul>
                            <li>Initial Investor Relations</li>
                            <li>Avalanche Summit 2022</li>
                            <li>Getting Ready for Launch</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 info-section">
                        <p class="title">
                            2022
                        </p>
                        <ul>
                            <li>Mainnet Launch</li>
                            <li>Seed & Private Token Sale</li>
                            <li>IDO & TGE</li>
                        </ul>
                    </div>
                    <div class="col-6 image-section">
                        <p class="title mobile-title">
                            2022
                        </p>
                        <img src="../img/q2.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 image-section">
                        <img src="../img/q3.png">
                        <p class="title mobile-title">
                            2022
                        </p>
                    </div>
                    <div class="col-6 info-section">
                        <p class="title">
                            2022
                        </p>
                        <ul>
                            <li>More Rules & Behavious</li>
                            <li>Token Utility Release</li>
                            <li>International Growth</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 info-section">
                        <p class="title">
                            2022
                        </p>
                        <ul>
                            <li>API Engine Release</li>
                            <li>Third Party Integrations</li>
                            <li>Launchpad for NFT Projects</li>
                        </ul>
                    </div>
                    <div class="col-6 image-section">
                        <p class="title mobile-title">
                            2022
                        </p>
                        <img src="../img/q4.png">
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="tokenomics" id="tokenomics">
    <div class="tokenomics-container container">
        <div class="title-section">
            <h1>Tokenomics</h1>
        </div>
        <div class="image-section">
            <div class="round-img">
                <img src="../img/tokenomics-round.png">
            </div>
            <div class="number-img">
                <img src="../img/tokenomics-with-numbers.png">
            </div>
            <div class="number-area">
                  <span class="text">Total supply<br>
                  <span class="number">100.000.000</span>
            </div>
        </div>
        <div class="title-section">
            <p class="title">ELYT Tokenomics will be revealed in further detail before to the platform's launch.</p>
        </div>
    </div>
</section>
<section class="partners">
    <div class="partners-container container">
        <div class="title-section">
            <h1>Partners</h1>
        </div>
        <div class="title-section">
            <p class="title">We'll provide more information about our incredible investors and partners in the coming
                weeks.</p>
        </div>
        <div>
</section>
<section class="join-community" id="team">
    <div class="join-community-container container">
        <div class="title-section">
            <h1>Join Our Team!</h1>
        </div>
        <div class="title">
            <p class="title">
                Do you want to be a part of a winning team?</br>
                Please do not hesitate to apply for a position and keep in mind;</br>
                We are more interested in your skills and desire to be a part of ELYT than anything else.
            </p>
            <div class="apply">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdBC2_UIRTAypA4M4dAQimc_VxdyI1-EZfvhL4Xzehxj5RnCw/viewform">
                    <button class="btn btn-default" type="button">APPLY</button>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="stay-tuned">
    <div class="stay-tuned-container">
        <h1 class="title">Stay tuned</h1>
        <p class="desc">Subscribe to our newsletter and never miss our updates and announcements.</p>
        <div id="mc_embed_signup">
            <form class="subscribe_form"
                  action="https://elyt.us14.list-manage.com/subscribe/post?u=991539d7ec5f759b6570932b6&amp;id=aca96b246e"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                  target="_blank">
                <div class="form-area" id="mc_embed_signup_scroll">
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                           placeholder="Enter your email address here" required>
                    <button class="btn btn-default" type="submit" value="Subscribe" name="subscribe"
                            id="mc-embedded-subscribe">SIGN UP
                    </button>
                </div>
                <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text"
                           name="b_991539d7ec5f759b6570932b6_aca96b246e"
                           tabindex="-1" value="">
                </div>
            </form>
        </div>
    </div>
</section>
<footer id="footer" class="d-flex-column text-center">
    <!--Footer Links-->
    <div class="container text-left text-md-center">
        <div class="row">
            <!--First column-->
            <div class="mx-auto shfooter">
                <div class="footer-logo">
                    <img src="../img/footer-logo.png" alt="logo">
                </div>
                <ul class="list-unstyled list-inline">
                    <!--<li class="list-inline-item"><a target="_blank" href="#">Terms & Conditions</a></li>-->
                    <li class="list-inline-item"><a target="_blank" href="../PrivacyPolicy.pdf">Privacy Policy</a></li>
                    <li class="list-inline-item"><a target="_blank" href="../CookiesPolicy.pdf">Cookie Policy</a></li>
                    <!--<li class="list-inline-item"><a target="_blank" href="#">Prohibition Of Use</a></li>
                    <li class="list-inline-item"><a target="_blank" href="#">Explicit Consent Declaration</a></li>-->
                </ul>
            </div>
            <!--/.First column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Social buttons-->
    <div class="text-center social-buttons">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <a target="_blank" href="https://twitter.com/Elyt_Social" class="sbtn btn-large" title="Twitter">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
            <!--
            <li class="list-inline-item">
                <a target="_blank" href="https://discord.gg/fnZ4JHU5wa" class="sbtn btn-large" title="Discord">
                    <i class="fa-brands fa-discord"></i>
                </a>
            </li>
            -->
            <li class="list-inline-item">
                <a target="_blank" href="https://t.me/Elyt_Social" class="sbtn btn-large" title="Telegram">
                    <i class="fa-brands fa-telegram"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://elyt-social.medium.com/" class="sbtn btn-large" title="MEdium">
                    <i class="fa-brands fa-medium"></i>
                </a>
            </li>
        </ul>
    </div>
    <!--/.Social buttons-->
    <!--Copyright-->
    <div class="text-center copyright">
        © 2022 All Rights Reserved - ELYT
    </div>
    <!--/.Copyright-->
</footer>
<script src="../js/jquery.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/plugins/brsMobileMenu.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $('#header3').brsMobileMenu({
            search: false,
            menuButtonSelector: '#brsMobileMenu-btn',
            itemSelector: 'ul > li:not(.no-mobile)',
            footerContent: `<div class="other-mobile-menu">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item no-mobile join-telegram">
                                            <a class="nav-link" href="#">Join Telegram</a>
                                        </li>
                                        <li class="nav-item no-mobile">
                                            <a class="nav-link lang-select" href="#"><i class="far fa-globe"></i> TR</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-center social-buttons">
                                    <div class="social-buttons-ul">
                                        <a target="_blank" href="#" class="" title="Twitter">
                                            <i class="fa-brands fa-twitter"></i>
                                        </a>
                                        <a target="_blank" href="#" class="" title="Discord">
                                            <i class="fa-brands fa-discord"></i>
                                        </a>
                                        <a target="_blank" href="#" class="" title="Telegram">
                                            <i class="fa-brands fa-telegram"></i>
                                        </a>
                                        <a target="_blank" href="#" class="" title="Linkedin">
                                            <i class="fa-brands fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>`,
        });
    });
</script>
<script src="../js/swiper-bundle.min.js"></script>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function ($) {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0] = 'EMAIL';
    ftypes[0] = 'email';
    fnames[1] = 'FNAME';
    ftypes[1] = 'text';
    fnames[2] = 'LNAME';
    ftypes[2] = 'text';
    fnames[3] = 'ADDRESS';
    ftypes[3] = 'address';
    fnames[4] = 'PHONE';
    ftypes[4] = 'phone';
    fnames[5] = 'BIRTHDAY';
    ftypes[5] = 'birthday';
}(jQuery));
var $mcj = jQuery.noConflict(true);</script>
<link rel="stylesheet" href="../js/plugins/swiper-bundle.min.css">
<script>
    jQuery(document).ready(function ($) {
        let swiper = new Swiper('.swiper', {
            slidesPerView: 1,
            spaceBetween: 10,
            breakpoints: {
                773: {
                    slidesPerView: 4,
                    spaceBetween: 0
                }
            },
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
            },
        });
    });
</script>
</body>

</html>
